body, html {
  scroll-behavior: smooth;
}

.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #272727;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: #e9d35b;
  height: 50px;
  margin-top: 20px;
}

.about img {
  max-width: 40%; /* Ensure the image doesn't exceed its container width */
  max-height: 40%; /* Ensure the image doesn't exceed its container height */
  width: auto; /* Allow the image to shrink while maintaining its aspect ratio */
  height: auto; /* Allow the image to shrink while maintaining its aspect ratio */
  max-width: 50%;
}

.about-me {
  display: inline-block;
  margin: 20px; /* Adicione margem conforme necessário */
  padding: 20px;
  border-radius: 10px; /* Borda arredondada */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
  background-color: #f0f0f0; /* Cor de fundo */
}

.about-me p {
    text-align: justify;
    color: #272727;
    font-size: 20px;
    /* text-align-last: justify; */
}


.experience{
  scroll-behavior: smooth;
}

.experience .experienceTitle {
  margin-top: 15px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  color: #272727;
  height: 50px;
}
.about .prompt {
  width: 40%;
  font-size: 30px;
  margin-top: 60px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#f0f0f0 ;
}

.skills h1 {
  font-size: 70px;
  color: #272727;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
} 

@media only screen and (max-width: 600px) {

  .experience .experienceTitle{
    font-size: 40px;
  }
  .about h2 {
    font-size: 40px;
    margin-top: 20px;
  }

  .about .prompt {
    margin-top: 30px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h1 {
    font-size: 40px;
  }

  .language span::after{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;  
    height: 50%; 
  }
  .language span::before{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;  
    border-left: 0px solid #272727;
  } 
  .language{
    margin-top: 30px;
  }
  
}
.arrow-bottom {
  transform: rotate(0);
  animation: 0.4s ease 0s infinite alternate none running down-arrow;
  cursor: pointer;
}

@keyframes down-arrow {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0.4rem);
}
}

.language {
  font-weight: 600;
  min-width: 280px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #f0f0f0;
  height: 50px;
  
}

.language span{
  position: relative;
}

.language span::before{
  content: "Tste";
  color: #f0f0f0;
  animation: words 20s infinite;
}

.language span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #272727;
  border-left: 2px solid #f0f0f0;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
    border-left: 1px solid #272727;
  }
}

@keyframes words {
  
  0%,20%{
    content: "Computer Engineer";
  }
  21%,40%{
    content: "Software Engineer";
  }
  41%,60%{
    content: "Coffee Lover";
  }
  61%,80%{
    content: "Tech Enthusiast";
  }
  81%,100%{
    content: "Content Creator";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 8px);
  }
}